form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

label {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    form {
        margin: 10px;
        max-width: 100%;
    }
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0a74da;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.password-field button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: -30px;
    padding: 5px;
    position: relative;
}

.password-field input[type="password"] {
    width: 90%;
}

.password-field button:hover {
    color: #3498db;
}
